{% extends 'account/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <h4 class="text-center">Sign Up</h4>
    <form method="post">
        {% csrf_token %}
        {% include 'partials/form.html' %}
        <div class="clearfix py-3">
            <p class="float-left">Already have an account? <a href="{% url 'account_login' %}" class="text-dark text-decoration-none">Sign In</a></p>
            <button class="btn btn-dark float-right" type="submit">Sign Up</button>
        </div>
    </form>
{% endblock %}
