{% load static %}
{% load proper_paginate %}
{% load url_replace %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">

    <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}">
    <title>{% block title %}Dashboard{% endblock %} | SMS APP </title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/dashlab-icon/dashlab-icon.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/themify-icons/css/themify-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/weather-icons/css/weather-icons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/icheck/skins/all.css' %}" rel="stylesheet">
    <link href="{% static 'datepicker/css/datepicker.css' %}" rel="stylesheet">
    {% block styles %}{% endblock %}
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{% static 'vendor/html5shiv.js' %}"></script>
    <script src="{% static 'vendor/respond.min.js' %}"></script>
    <![endif]-->
</head>

<body class="left-sidebar-fixed">
{% include 'dashboard/header.html' %}

<div class="app-body">

     {% include 'dashboard/side-nav.html' %}

    <div class="content-wrapper">
        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>

        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright &copy; tngeene {% now 'Y' %}</small>
                </div>
            </div>
        </footer>
    </div>
</div>

<!--basic scripts-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'vendor/popper.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/jquery.dcjqaccordion.2.7.js' %}"></script>
<script src="{% static 'datepicker/js/bootstrap-datepicker.js' %}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

{% block scripts %}{% endblock %}

<!--[if lt IE 9]>
    <script src="{% static 'vendor/modernizr.js' %}"></script>
    <![endif]-->

<!--basic scripts initialization-->
<script src="{% static 'js/scripts.js' %}"></script>
<script>
    $(document).ready(function () {
        setInterval(() => {
            $("#clock").html(new Date().toLocaleTimeString());
        }, 1000);
    })
    {% if messages %}
    {% for message in messages %}
    $(document).ready(function(){
        swal({
            title: "{{ message }}",
            icon: "{{ message.tags }}",
            timer: 2000,
            });
    });
    {% endfor %}
    {% endif %}
</script>
</body>
</html>
